html
  head
    title Saturn
    link(rel='stylesheet' href='ui/bootstrap.min.css')
    link(rel='stylesheet' href='ui/style.css')
  body
    // main container
    #main.container
      :marked
        # Saturn!

        Every once in a while, I'll ask you for a tag. Describe what you're doing at the exact moment the notification comes up. Don't cheat.
        
      #forms
      
      span.btn.btn-default.btn-file
        | Import
        input#import(type='file' accept='.json')
      = ' '
      button#exportButton.btn.btn-default Export
      = ' '
      button#clear.btn.btn-danger Clear
      = ' '
        
      #analysis.hidden
        #chart(width='100%' height='200px')

        table.table
          tbody#data
            tr
              td data!
              td data!
              
      button#quit.btn.btn-danger Quit

    script(type='text/javascript').
      window.$ = window.jquery = window.jQuery = require(__dirname + '/ui/jquery-2.1.4.js')
      require('babel/polyfill')
    // external scripts
    script(src='ui/highcharts.js')
    script(src='ui/save.js')
    script(src='ui/bootstrap.js')
    script(src='ui/poisson-process.js')
    script(src='ui/bootstrap3-typeahead.js')
    script(src='ui/handlebars.min.js')
    script(src='ui/templates.js')
    script(src='ui/saturn.js')
    script(src='ui/analyst.js')
    script(src='ui/ui.js')
